<form action="/faculties/<%= @faculty.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="PATCH" />
  <p>Update Faculty</p>

    <div>
    <label for="faculty_name">Name:</label>
    <input type="text" name="[name]" id="name">
  </div>

  <div>
    <label for="faculty_department">Department:</label>
    <input type="text" name="[department]" id="department">
  </div>

  <div>
    <label for="faculty_email">Email:</label>
    <input type="email" name="[email]" id="email">
  </div>

  <div>
    <label for="faculty_phone">Phone:</label>
    <input type="tel" name="[phone]" id="phone">
  </div>

  <div>
    <label for="faculty_office_hours">Office Hours:</label>
    <input type="checkbox" name="[office_hours]" id="office_hours">
  </div>

  <div>
    <label for="faculty_years_instructing">Years Instructing:</label>
    <input type="number" name="[years_instructing]" id="years_instructing">
  </div>

  <input type='submit' value='Create Faculty'/>
</form>