<h1>Register faculty member</h1>
<p><a href="/faculties">Our Faculty</a></p>
<p><a href="/courses">Our Courses</a></li></p>

<form action="/faculties" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter faculty member details:</p>

  <div>
    <label for="faculty_name">Name:</label>
    <input type="text" name="[name]" id="name">
  </div>

  <div>
    <label for="faculty_department">Department:</label>
    <input type="text" name="[department]" id="department">
  </div>

  <div>
    <label for="faculty_email">Email:</label>
    <input type="email" name="[email]" id="email">
  </div>

  <div>
    <label for="faculty_phone">Phone:</label>
    <input type="tel" name="[phone]" id="phone">
  </div>

  <div>
    <label for="faculty_office_hours">Office Hours:</label>
    <input type="checkbox" name="[office_hours]" id="office_hours">
  </div>

  <div>
    <label for="faculty_years_instructing">Years Instructing:</label>
    <input type="number" name="[years_instructing]" id="years_instructing">
  </div>

  <input type='submit' value='Create Faculty'/>
</form>