<h1>General Education Directory</h1>

<a href="/faculties">Our Faculty</a>

<ul>
  <% @gen_ed_courses.each do |course| %>
  <div>
    <p><%= course.course_name %><%= link_to '    Update Course ', edit_course_path(course) %></p></p>
  </div>
  <% end %>
</ul>